@model WebSenDa.Models.ViewModel

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Danh Sách Quyền</h2>

<a href="@Url.Action("Create","Quyen")" class="btn btn-primary user-btn-them mt-3 mb-3">Thêm mới quyền</a>
<table class="table table-bordered table-hover mt-3">
    <tr class="bg-success">
        <th>
            @Html.DisplayNameFor(model => model.quyen.IDQuyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quyen.TenQuyen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListQuyen) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IDQuyen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenQuyen)
    </td>
    <td class="text-center">
        <a class="btn btn-warning mr-3" href="@Url.Action("Edit",new { id=item.IDQuyen})"><span style="margin-right:0px" class="fas fa-pencil-alt"></span></a>
        
    </td>
</tr>
}

</table>
