@model WebSenDa.Models.ViewModel

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Danh Sách Nhân Viên</h2>

<a href="@Url.Action("Create","NhanVien")" class="btn btn-primary user-btn-them mt-3 mb-3">Thêm mới nhân viên</a>
<table class="table table-bordered table-hover mt-3">
    <tr class="bg-success">
        <th>
            @Html.DisplayNameFor(model => model.nhanvien.TenTaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhanvien.TenNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhanvien.CMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhanvien.AnhDaiDien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhanvien.LoaiTaiKhoan.TenLoaiTaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhanvien.Quyen.TenQuyen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ListNhanVien) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TenTaiKhoan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenNhanVien)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.CMND)
    </td>

    <td class="text-center">
        <img src="@item.AnhDaiDien" style="width: 50px; height:50px;" />

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LoaiTaiKhoan.TenLoaiTaiKhoan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quyen.TenQuyen)
    </td>
    <td class="text-center">
        <a class="btn btn-warning mr-3" href="@Url.Action("Edit",new { id=item.IDNhanVien})"><span style="margin-right:0px" class="fas fa-pencil-alt"></span></a>
        <a class="btn btn-danger " href="@Url.Action("Details",new { id=item.IDNhanVien})"><span style="margin-left:0px" class="far fa-clipboard"></span></a>

        @using (Html.BeginForm("Delete", "NhanVien", FormMethod.Post))
        {
            <button type="submit" name="submit" value="@item.IDNhanVien" class="btn btn-delete_employeemr-2" onclick="return confirm('Bạn chắc chắn xóa chứ?')"><i class="fas fa-user-minus"></i> Xóa nhân viên</button>
                    
        }

    </td>
</tr>
}

</table>
